
// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.header-container {
  border: 1px solid red;
  width: 100%;
  text-align: center;
  nav {
    border: 1px solid red;
    background-color: gray;
    li {
      list-style-type: none;
      display: inline-block;
      border: 1px solid red;
    }
  }
  .name {
    border: 1px solid red;
    clear: both;
  }
}

.main-container {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
