$font: 'Lato', sans-serif;
$fontBody: 'Arvo', serif;

@mixin work() {
  border: 1px solid black;
  position: relative;
  padding: 0px;
  margin: 4% 2% 1% 2%;
  width: 46%;
  img {
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: .6s ease;
    opacity: 0;
    font-size: 2.5em;
    font-family: $fontBody;
    font-weight: 400;
    p:first-child {
      color: #fff;
      font-size: 2em;
      font-weight: 700;
      padding-top: 13%;
    }
    a {
      color: #fff;
    }
  }
  &:hover .overlay {
    opacity: 1;
  }
}
body {
  position: relative;
  background: #fff;
  color: #111;
  font-family: $font;
  font-size: 62.5%;
  .navbar {
    background-color: black;
    font-size: 3em;
    .container {
      width: 100%;
      .navbar-brand {
        float: left;
      }
    }
  }
  .title-area {
    padding: 0px;
    overflow: auto;
    background-image: url('../images/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    .name-container {
      width: 80%;
      margin: 0 auto;
      padding: 15% 0px 15% 0px;
      text-align: center;
      border: 2px solid green;
      h1 {
        margin: 0px;
        border: 1px solid red;
        line-height: 1;
        font-size: 14em;
        font-weight: 900;
      }
      p {
        border: 1px solid red;
        margin: 0px;
        font-size: 8em;
        font-weight: 700;
      }
      ul {
        padding: 0px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        li {
          list-style-type: none;
          display: inline-block;
          margin: 0px 1% 0px 1%;
          padding: 5px 0px 5px 0px;
          width: 15%;
          font-size: 2.8em;
          border: 2px solid darkgray;
          a {
            color: black;
            &:hover {
              text-decoration: none;
              color: red;
            }
          }
        }
      }
    }
  }
  .me-container {
    clear: both;
    overflow: auto;
    padding: 50px 0px 50px 0px;
    background-color: gray;
    text-align: center;
    border: 1px solid blue;
    line-height: 1.5;
    h2 {
      font-size: 7em;
      font-weight: 700;
      margin: 20px 0px 50px 0px;
    }
    .me {
      border: 1px solid red;
      p {
        width: 85%;
        margin: 0 auto;
        font-family: $fontBody;
        font-size: 3.2em;
      }
    }
  }
  .tech-container {
    clear: both;
    overflow: auto;
    padding: 50px 0px 50px 0px;
    background-color: green;
    text-align: center;
    border: 1px solid blue;
    line-height: 1.5;
    h2 {
      font-size: 7em;
      font-weight: 700;
      margin: 20px 0px 50px 0px;
    }
    .tech {
      border: 1px solid red;
      img {
        width: 40%;
        margin-bottom: 30px;
      }
      p {
        width: 85%;
        margin: 0px auto;
        font-family: $fontBody;
        font-size: 3.2em;
      }
    }
  }
  .work-container {
    clear: both;
    overflow: auto;
    padding: 50px 0px 50px 0px;
    background-color: #F3F3F4;
    text-align: center;
    border: 1px solid red;
    font-weight: 700;
    h2 {
      font-size: 7em;
      font-weight: 700;
      margin: 20px 0px 50px 0px;
    }
    .myPlanit-app {
      @include work;
    }
    .blog-app {
      @include work;
    }
    .fns-app {
      @include work;
    }
    .game-app {
      @include work;
    }
    .todo-app {
      @include work;
    }
    .snp-app {
      @include work;
    }
  }
  .contact-container {
    clear: both;
    overflow: auto;
    padding: 50px 0px 50px 0px;
    background-color: #F3F3F4;
    text-align: center;
    border: 1px solid red;
    font-weight: 700;
    h2 {
      font-size: 7em;
      font-weight: 700;
      margin: 20px 0px 50px 0px;
    }
    .contact {
      overflow: auto;
      .tablet {
        border: 1px solid red;
        .tablet-container {
          border: 2px solid blue;
          padding: 20px 0% 20px 0%;
          width: 100%;
          img {
            width: 35%;
            padding-top: 20%;
          }
          .tablet-content {
            padding-top: 20px;
            border: 1px solid red;
            p {
              font-size: 2em;
              font-weight: 400;
            }
            a {
              color: black;
            }
            img {
              border: 1px solid red;
              width: 11%;
              padding: 1%;
            }
          }
        }
      }
      .desktop {
        border: 1px solid red;
        .desktop-container {
          border: 2px solid blue;
          padding: 20px 0% 20px 0%;
          width: 100%;
          img {
            width: 82%;
            padding-top: 2%;
          }
          .desktop-content {
            padding-top: 20px;
            border: 1px solid red;

            .me {
              border: 1px solid red;
              .more-content {
                border: 1px solid red;
                img {
                  width: 18%;
                }
                p {
                  margin-top: 19px;
                  font-family: $fontBody;
                  font-size: 2.8em;
                }
              }
            }
            p {
              font-size: 2em;
              font-weight: 400;
            }
            ul {
              width: 100%;
              padding: 0px;
              margin: 0px;
              text-align: center;
            }
            li {
              display: inline-block;
              width: 10%;
              list-style-type: none;
              border: 1px solid red;
              margin: 0px 3% 0px 3%;
              img {
                width: 100%;
              }
              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
      .smartphone {
        border: 1px solid red;
        .smartphone-container {
          border: 2px solid blue;
          padding: 20px 0% 20px 0%;
          width: 100%;
          img {
            width: 18%;
            padding-top: 32%;
          }
          .smartphone-content {
            padding-top: 20px;
            border: 1px solid red;
            p {
              font-size: 2em;
              font-weight: 400;
            }
            a {
              color: black;
            }
            img {
              width: 12%;
              padding: 0%;
            }
          }
        }
      }
    }
  }
  .footer-container {
    clear: both;
    background-color: #9E9E9E;
    border: 1px solid red;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    ul {
      width: 100%;
      padding: 0px;
      margin: 0px;
      text-align: center;
      .arrow-top a {
        color: red;
      }
      li {
        display: inline-block;
        width: 5%;
        font-size: 4em;
        list-style-type: none;
        border: 1px solid red;
        margin: 0px 7% 0px 7%;
        // a {
        //   text-decoration: none;
        //   color: black;
        // }
      }
    }
  }
}
