
// Custom Styles
body {
  background: #7A8A8C;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
}

.header-container {
  border: 1px solid red;
  margin: 0px 0px 30px 0px;
  width: 100%;
  text-align: center;
  ul {
    padding: 0px;
    margin: 0 auto;
    font-size: 2em;
    border: 1px solid red;
    li {
      list-style-type: none;
      display: inline-block;
      border: 1px solid red;
      margin: 0% 4% 0% 4%;
      color: white;
      cursor: pointer;
      &:hover {
        color: #9CEEFF;
      }
    }
  }
}
.name-container {
  overflow: auto;
  font-size: 3.5em;
  border: 1px solid red;
  margin: 0 auto;
  width: 45%;
  .name-pic {
    float: left;
    width: 40%;
    border: 1px solid blue;
    img {
      width: 100%;
    }
  }
  .name-text {
    float: left;
    width: 59%;
    padding-top: 30px;
    border: 1px solid green;
    h1 {
      margin: 20px 0px 10px 0px;
      line-height: 1;
      letter-spacing: -1px;
      text-align: left;
      span {
        display: block;
      }
    }
    p {
      text-align: left;
      margin: 0px;
      font-size: 1.2em;
    }
  }
}
.about-container {
  clear: both;
  overflow: auto;
  width: 100%;
  text-align: center;
  border: 1px solid blue;
  background-color: #5F9CA6;
  h2 {
    font-size: 3em;
  }
  .my-story {
    border: 1px solid red;
    float: left;
    width: 50%;
    margin-left: 1%;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 30px;
    background-color: white;
  }
  .my-motivation {
    border: 1px solid red;
    float: left;
    width: 45%;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 30px;
    background-color: white;
  }
  .my-experiences {
    border: 1px solid red;
    float: left;
    width: 45%;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 30px;
    background-color: white;
  }
}
.skills {
  overflow: auto;
  border: 1px solid red;
  font-size: 1.8em;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  img {
    width: 65%;
  }
  ul {
    padding: 0px;
    border: 1px solid red;
    margin: 0 auto;
    width: 30%;
  }
  li {
    list-style-type: none;
  }
}
.work {
  clear: both;
  border: 1px solid red;
  font-size: 1.8em;
  font-weight: 200;
  line-height: 30px;
  background-color: lightgreen;
  ul {
    padding: 0px;
  }
  li {
    list-style-type: none;
    width: 100%;
    height: 150px;
    &:nth-child(2n) {
      background-color: darkgreen;
    }
  }
}
.experiences {
  border: 1px solid red;
  font-size: 1.8em;
  font-weight: 200;
  line-height: 30px;
  background-color: blue;
}
.contact {
  border: 1px solid red;
  font-size: 1.8em;
  font-weight: 200;
  line-height: 30px;
  background-color: yellow;
  ul {
    padding: 0px;
  }
  li {
    list-style-type: none;
  }
}

.footer-container {
  border: 1px solid red;
  width: 100%;
  text-align: center;
  ul {
    padding: 0px;
    margin: 0 auto;
    border: 1px solid red;
    background-color: gray;
    li {
      list-style-type: none;
      display: inline-block;
      border: 1px solid red;
    }
  }
}
