$font: 'Arvo', sans-serif;
$fontBody: 'Lato', serif;

@mixin work() {
  border: 1px solid white;
  // margin: 5% 2.75% 8% 2.75%;
  position: relative;
  img {
    width: 100%;
    border: 2px solid blue;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    transition: .6s ease;
    opacity: 0;
    font-size: 2.5em;
    font-family: $fontBody;
    font-weight: 400;
    p {
      color: #fff;
      font-size: 2em;
      font-weight: 700;
      padding-top: 13%;
    }
    a {
      color: #fff;
    }
  }
  &:hover .overlay {
    opacity: 1;
  }
}
body {
  position: relative;
  background: #000;
  color: #808080;
  font-family: $font;
  font-size: 62.5%;
  .navbar {
    background-color: black;
    font-size: 3em;
    .container {
      width: 100%;
      .navbar-brand {
        float: left;
      }
    }
  }
  .title-area {
    padding: 0px;
    overflow: hidden;
    height: 100vh;
    background-image: url('../images/main2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    .name-container {
      width: 80%;
      margin: 0 auto;
      padding: 15% 0% 15% 0%;
      text-align: center;
      border: 2px solid green;
      h1 {
        margin: 0%;
        border: 1px solid red;
        line-height: 1;
        font-size: 14em;
        font-weight: 900;
        color: #337ab7;
      }
      p {
        border: 1px solid red;
        margin: 0%;
        font-size: 8em;
        font-weight: 700;
      }
      ul {
        padding: 0%;
        width: 80%;
        margin: 0% auto;
        text-align: center;
        .element {
          position: relative;
          overflow: hidden;
          list-style-type: none;
          display: inline-block;
          margin: 0% 1% 0% 1%;
          padding: 2% 0% 2% 0%;
          width: 22%;
          height: 30px;
          vertical-align: center;
          border: 2px solid darkgray;
          .wrap {
            position: absolute;
            top: 0;
            width: 100%;
            .init {
              height: 30px;
              width: 100%;
              font-size: 2.8em;
              background: lightgrey;
            }
            .short {
              height: 40px;
              width: 100%;
              font-size: 3.3em;
              background: black;
              // a {
              //   color: white;
              // }
            }
          }
        }
      }
    }
  }
  .me-container {
    clear: both;
    overflow: auto;
    background-color: #F5F5F5;
    text-align: center;
    line-height: 1.5;
    h2 {
      margin: 150px auto 40px auto;
      font-size: 7em;
      font-weight: 700;
    }
    .me {
      margin-bottom: 150px;
      p {
        width: 60%;
        margin: 0 auto;
        font-family: $fontBody;
        font-size: 3.2em;
      }
    }
  }
  .tech-container {
    clear: both;
    overflow: auto;
    background-color: #FFF;
    text-align: center;
    h2 {
      margin: 100px auto 60px auto;
      font-size: 7em;
      font-weight: 700;
    }
    .tech {
      position: relative;
      margin-bottom: 150px;
      img {
        width: 40%;
        margin-bottom: 50px;
      }
      .pic-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .6s ease;
        opacity: 0;
      }
      p {
        width: 75%;
        margin: 0px auto;
        font-family: $fontBody;
        font-size: 3.2em;
      }
    }
    &:hover .pic-overlay {
      opacity: 1;
    }
  }
  .work-container {
    clear: both;
    overflow: auto;
    background-color: #363636;
    text-align: center;
    border: 1px solid red;
    font-weight: 700;
    h2 {
      font-size: 7em;
      font-weight: 700;
      margin: 100px auto 100px auto;
      padding: 20px 0px;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }
    p {
      font-size: 4em;
    }
    .myPlanit-app {
      @include work;
    }
    .blog-app {
      @include work;
    }
    .fns-app {
      @include work;
    }
    .game-app {
      @include work;
    }
    .todo-app {
      @include work;
    }
    .snp-app {
      @include work;
    }
  }
  .contact-container {
    clear: both;
    overflow: auto;
    padding: 50px 0px 50px 0px;
    background-color: #A6A6A6;
    text-align: center;
    border: 1px solid red;
    font-weight: 700;
    h2 {
      font-size: 7em;
      font-weight: 700;
      margin: 20px 0px 50px 0px;
    }
    .contact {
      overflow: auto;
      .tablet {
        border: 1px solid red;
        .tablet-container {
          border: 2px solid blue;
          padding: 20px 0% 20px 0%;
          width: 100%;
          img {
            width: 35%;
            padding-top: 20%;
          }
          .tablet-content {
            padding-top: 20px;
            border: 1px solid red;
            p {
              font-size: 2em;
              font-weight: 400;
            }
            a {
              color: black;
            }
            img {
              border: 1px solid red;
              width: 11%;
              padding: 1%;
            }
          }
        }
      }
      .desktop {
        border: 1px solid red;
        .desktop-container {
          border: 2px solid blue;
          padding: 20px 0% 20px 0%;
          width: 100%;
          img {
            width: 82%;
            padding-top: 2%;
          }
          .desktop-content {
            padding-top: 20px;
            border: 1px solid red;

            .me {
              border: 1px solid red;
              .more-content {
                border: 1px solid red;
                img {
                  width: 18%;
                }
                p {
                  margin-top: 19px;
                  font-family: $fontBody;
                  font-size: 2.8em;
                }
              }
            }
            p {
              font-size: 2em;
              font-weight: 400;
            }
            ul {
              width: 100%;
              padding: 0px;
              margin: 0px;
              text-align: center;
            }
            li {
              display: inline-block;
              width: 10%;
              list-style-type: none;
              border: 1px solid red;
              margin: 0px 3% 0px 3%;
              img {
                width: 100%;
              }
              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
      .smartphone {
        border: 1px solid red;
        .smartphone-container {
          border: 2px solid blue;
          padding: 20px 0% 20px 0%;
          width: 100%;
          img {
            width: 18%;
            padding-top: 32%;
          }
          .smartphone-content {
            padding-top: 20px;
            border: 1px solid red;
            p {
              font-size: 2em;
              font-weight: 400;
            }
            a {
              color: black;
            }
            img {
              width: 12%;
              padding: 0%;
            }
          }
        }
      }
    }
  }
  .footer-container {
    clear: both;
    background-color: #000;
    border: 1px solid red;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    ul {
      width: 100%;
      padding: 0px;
      margin: 0px;
      text-align: center;
      .arrow-top a {
        color: red;
      }
      li {
        display: inline-block;
        width: 5%;
        font-size: 4em;
        list-style-type: none;
        border: 1px solid red;
        margin: 0px 7% 0px 7%;
      }
    }
  }
}
