
/***********************************************************
************************************************************

                            FONTS

/***********************************************************/

$font: 'Open Sans', sans-serif;
$fontBody: 'Lato', serif;

/***********************************************************
************************************************************

                            COLORS

/***********************************************************/
$fontColorPrimary: #808080;

$colorPrimary: #fff;
$colorSecondary: #000;
$colorTertiary: #337ab9;

$colorLinks1: #fff;
$colorLinks2: #337ab9;

$bgColor1: #fff;
$bgColor2: #363636;
$bgColor3: #F5F5F5;

$bgOverlay1: #4C4C4C;
$bgOverlay2: #222222;

/***********************************************************
************************************************************

                            MIXINS

/***********************************************************/

@mixin work() {
  padding: 12%;
  .overlay-container {
    position: relative;
    background-color: $bgOverlay1;
    border-radius: 8px;
    padding-bottom: 5px;
    img {
      width: 100%;
      padding: 10%;
      border-radius: 8px;
    }
    .touch {
      font-size: 2em;
      color: $colorPrimary;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $bgOverlay2;
      transition: .6s ease;
      opacity: 0;
      padding-bottom: 5px;
      .slider {
        padding: 0px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .carousel-control {
          background-image: none;
        }
        .carousel-indicators {
          margin-bottom: 0px;
        }
        .carousel-inner {
          height: 100%;
          .item {
            height: 100%;
            padding: 9%;
            overflow: auto;
            h5 {
              font-family: $fontBody;
              font-size: 2em;
              font-weight: 700;
              color: $colorPrimary;
            }
            p {
              font-family: $fontBody;
              font-size: 1.3em; // change 2.2em
              font-weight: 400;
              color: $colorPrimary;
              i {
                font-size: 2.5em;
                margin-top: 18%;
              }
            }
            ul {
              padding: 0px;
              li {
                list-style-type: none;
                font-family: $fontBody;
                font-size: 1.3em; // change to 2.2em
                font-weight: 400;
                color: $colorPrimary;
              }
            }
            a {
              font-size: 1.5em; // change 3em
              font-weight: 400;
              text-decoration: none;
              color: $colorLinks1;
              button {
                width: 60%; // change to 50%
                margin: 15% auto 0% auto;
                background-color: transparent;
                border-radius: 5px;
                border: none;
                i {
                  font-size: 1.2em;
                }
                &:hover {
                  color: $colorLinks2;
                  i {
                    padding-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
    &:hover .overlay {
      opacity: 1;
      border: 1px solid white;
      border-radius: 8px;
    }
  }
}

/***********************************************************
************************************************************

                            CUSTOM STYLES

/***********************************************************/
body {
  position: relative;
  background: $colorSecondary;
  color: $fontColorPrimary;
  font-family: $font;
  font-size: 62.5%;
  .navbar {
    background-color: $colorSecondary;
    border-bottom: 1px solid $colorTertiary;
    padding: 0% 1%;
    font-size: 3em;
    .container {
      width: 100%;
      .navbar-brand {
        float: left;
      }
    }
    .navbar-nav a:hover {
      color: $colorLinks1;
    }
  }
  .title-area {
    padding: 0px;
    overflow: hidden;
    height: 100%;
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid $colorTertiary;
    .name-container {
      width: 80%;
      margin: 0 auto;
      padding: 1% 0% 0% 0%;
      text-align: center;
      h1 {
        margin: 30% auto 3% auto;
        font-size: 5em;
        font-weight: 900;
        color: $colorPrimary;
      }
      p {
        margin: 0% 0% 4% 0%;
        font-family: $fontBody;
        font-size: 3.5em;
        font-weight: 700;
        color: $colorTertiary;
        &:last-child {
          padding: 2% 0% 2% 0%;
          i {
            font-size: 2.5em;
          }
        }
      }
      ul {
        padding: 0%;
        width: 80%;
        margin: 0% auto;
        text-align: center;
        li {
          display: inline-block;
          margin: 0% 6% 0% 6%;
          font-size: 3em;
          .fa {
            display: block;
            float: left;
            height: 22px;
            width: 22px;
            overflow: hidden;
            text-align: center;
          }
          a {
            color: $colorLinks1;
          }
          &:hover {
            font-size: 4em;
          }
        }
      }
    }
  }
  .me-container {
    clear: both;
    overflow: auto;
    background-color: $bgColor3;
    border-bottom: 1px solid $colorTertiary;
    text-align: center;
    line-height: 1.5;
    h2 {
      margin: 150px auto 40px auto;
      font-size: 5em;
      font-weight: 600;
    }
    .me {
      margin-bottom: 150px;
      p {
        width: 60%;
        margin: 0 auto;
        font-family: $fontBody;
        font-size: 1.8em;
      }
    }
  }
  .tech-container {
    clear: both;
    overflow: auto;
    background-color: $bgColor1;
    border-bottom: 1px solid $colorTertiary;
    text-align: center;
    h2 {
      margin: 100px auto 60px auto;
      font-size: 5em;
      font-weight: 600;
    }
    .tech-content {
      position: relative;
      margin-bottom: 150px;
      img {
        width: 60%;
      }
      .pic-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .6s ease;
        opacity: 0;
      }
      p {
        width: 75%;
        margin: 50px auto 0px auto;
        font-family: $fontBody;
        font-size: 1.8em;
      }
    }
    .skills:hover .pic-overlay {
      opacity: 1;
    }
  }
  .work-container {
    clear: both;
    overflow: auto;
    background-color: $bgColor2;
    border-bottom: 1px solid $colorTertiary;
    text-align: center;
    h2 {
      font-size: 5em;
      font-weight: 600;
      margin: 100px auto 70px auto;
      padding: 20px 0px;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }
    .work-content {
      overflow: auto;
      margin-bottom: 70px;
      .project-one,
      .project-two,
      .project-three,
      .project-four,
      .project-five,
      .project-six {
        @include work;
      }
    }
  }
  .contact-container {
    clear: both;
    padding: 0px;
    overflow: hidden;
    height: 100%;
    background-color: $bgColor3;
    text-align: center;
    background-image: url('../images/me2.png');
    background-repeat: no-repeat;
    // background-attachment: fixed; // change
    background-size: contain;
    background-position: top;
    h2 {
      font-size: 5em; // change to 7em
      font-weight: 600;
      margin: 150px auto 80px auto;
    }
    p {
      width: 60%;
      margin: 0 auto;
      font-family: $fontBody;
      font-size: 1.8em; // change to 3.2em
      line-height: 1.5;
      &:last-child {
        padding-bottom: 150px;
      }
    }
    .icons {
      font-size: 3em; // change to 5em
      i {
        margin: 15px;
      }
    }
  }
  .footer-container {
    clear: both;
    border-top: 1px solid $colorTertiary;
    text-align: center;
    padding: 10px 0px;
    ul {
      width: 100%;
      padding: 0px;
      margin: 0px;
      text-align: center;
      .arrow-top {
        font-size: 5em; // change to 8em
        padding-bottom: 20px;
        height: 50px; // change to 80px
      }
      .arrow-top a {
        color: $colorLinks1;
      }
      li {
        position: relative;
        overflow: hidden;
        list-style-type: none;
        display: inline-block;
        margin: 0% 4% 0% 4%;
        width: 11%;
        height: 60px; // change to 80px
        padding-bottom: 2%;
        .wrap {
          position: absolute;
          top: 30px;
          width: 100%;
          color: $colorTertiary;
          .init {
            height: 50px; // change to 80em
            width: 100%;
            font-size: 1.3em; // change to 2.5em
          }
          .short {
            height: 50px; // change to 80em
            width: 100%;
            font-size: 3em; // change to 4.5em
          }
        }
      }
    }
  }
}

/***********************************************************
************************************************************

                            ANIMATION

/***********************************************************/

// animated elements base settings
.animateblock {
  opacity: 0;
  -webkit-transition: all 0.85s linear;
  -moz-transition: all 0.85s linear;
  transition: all 0.85s linear;
}
.animateblock.animated {
  opacity: 1;
}

/***********************************************************
************************************************************

                            MEDIA QUERIES

/***********************************************************/

/* Phone in portrait */
@media (max-width: 767px) and (orientation: portrait) {
  // No media query since this is the default in Bootstrap

}

/* Phone in landscape */
@media (max-width: 767px) and (orientation: landscape) {
  body {
    .title-area {
      .name-container {
        h1 {
          margin: 15% auto 3% auto;
        }
      }
    }
    .tech-container {
      .tech-content {
        img {
          width: 50%;
        }
      }
    }
    .col-sm-4 {
      width: 50%;
    }
    .work-container {
      .work-content {
        .project-one,
        .project-two,
        .project-three,
        .project-four,
        .project-five,
        .project-six {
          padding: 2%;
        }
      }
    }
  }
}

/* Tablet in portrait */
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  body {
    .title-area {
      background-attachment: fixed;
      background-size: contain;
      .name-container {
        h1 {
          margin: 15% auto 3% auto;
          font-size: 10em;
        }
        p {
          font-size: 6em;
          &:last-child {
            i {
              font-size: 2.5em;
            }
          }
        }
        ul {
          li {
            font-size: 4.5em;
            .fa {
              height: 33px;
              width: 33px;
            }
            a:hover {
              font-size: 5.5em;
            }
          }
        }
      }
    }
    .me-container {
      h2 {
        font-size: 6em;
      }
      .me {
        p {
          font-size: 2.5em;
        }
      }
    }
    .tech-container {
      h2 {
        font-size: 6em;
      }
      .tech-content {
        img {
          width: 50%;
        }
        p {
          font-size: 2.5em;
        }
      }
    }
    .col-sm-4 {
      width: 50%;
    }
    .work-container {
      h2 {
        font-size: 6em;
      }
      .work-content {
        .project-one,
        .project-two,
        .project-three,
        .project-four,
        .project-five,
        .project-six {
          padding: 2%;
        }
      }
    }
    .contact-container {
      h2 {
        font-size: 6em;
      }
      p {
        font-size: 2.5em;
      }
      .icons {
        font-size: 4em;
      }
    }
    .footer-container {
      ul {
        .arrow-top {
          font-size: 6.5em;
          padding-bottom: 20px;
          height: 50px;
        }
        .arrow-top a {
          color: $colorLinks1;
        }
        li {
          .wrap {
            .init {
              font-size: 2.5em;
            }
            .short {
              font-size: 3.5em;
            }
          }
        }
      }
    }
  }
}


/* Tablet in landscape */
@media (min-width: 768px) and (max-width: 1027px) and (orientation: landscape) {
  body {
    .title-area {
      background-attachment: fixed;
      background-size: cover;
      .name-container {
        h1 {
          margin: 10% auto 3% auto;
          font-size: 13em;
        }
        p {
          font-size: 8em;
          &:last-child {
            i {
              font-size: 3em;
            }
          }
        }
        ul {
          li {
            font-size: 5em;
            .fa {
              height: 44px;
              width: 44px;
            }
            a:hover {
              font-size: 1.4em;
            }
          }
        }
      }
    }
    .me-container {
      h2 {
        font-size: 7em;
      }
      .me {
        p {
          font-size: 2.9em;
        }
      }
    }
    .tech-container {
      h2 {
        font-size: 7em;
      }
      .tech-content {
        img {
          width: 60%;
        }
        p {
          font-size: 2.9em;
        }
      }
    }
    .col-sm-4 {
      width: 50%;
    }
    .work-container {
      h2 {
        font-size: 7em;
      }
      .work-content {
        .project-one,
        .project-two,
        .project-three,
        .project-four,
        .project-five,
        .project-six {
          padding: 2%;
        }
      }
    }
    .contact-container {
      h2 {
        font-size: 7em;
      }
      p {
        font-size: 2.9em;
      }
      .icons {
        font-size: 4.5em;
      }
    }
    .footer-container {
      ul {
        .arrow-top {
          font-size: 8em;
          padding-bottom: 55px;
          height: 50px; // change to 80px
        }
        .arrow-top a {
          color: $colorLinks1;
        }
        li {
          .wrap {
            .init {
              font-size: 3em;
            }
            .short {
              font-size: 4.5em;
            }
          }
        }
      }
    }
  }
}



/* Laptops and Desktops  */
@media (min-width: 1024px) {
  body {
    .title-area {
      background-attachment: fixed;
      background-size: cover;
      .name-container {
        h1 {
          margin: 12% auto 3% auto;
          font-size: 14em;
        }
        p {
          font-size: 9em;
          &:last-child {
            i {
              font-size: 3em;
            }
          }
        }
        ul {
          li {
            font-size: 6em;
            .fa {
              height: 44px;
              width: 44px;
            }
            a:hover {
              font-size: 1.8em;
            }
          }
        }
      }
    }
    .me-container {
      h2 {
        font-size: 9em;
      }
      .me {
        p {
          font-size: 3.5em;
        }
      }
    }
    .tech-container {
      h2 {
        font-size: 9em;
      }
      .tech-content {
        img {
          width: 50%;
        }
        p {
          font-size: 3.5em;
        }
      }
    }
    .col-sm-4 {
      width: 33.33%;
    }
    .work-container {
      h2 {
        font-size: 9em;
      }
      .work-content {
        .project-one,
        .project-two,
        .project-three,
        .project-four,
        .project-five,
        .project-six {
          padding: 2%;
          .touch {
            display: none;
          }
        }
      }
    }
    .contact-container {
      h2 {
        font-size: 9em;
      }
      p {
        font-size: 3.5em;
      }
      .icons {
        font-size: 4.5em;
      }
    }
    .footer-container {
      ul {
        .arrow-top {
          font-size: 8em;
          padding-bottom: 55px;
          height: 50px; // change to 80px
        }
        .arrow-top a {
          color: $colorLinks1;
        }
        li {
          .wrap {
            .init {
              font-size: 3em;
            }
            .short {
              font-size: 4.5em;
            }
          }
        }
      }
    }
  }
}
