$font: 'Lato', sans-serif;
$fontBody: 'Arvo', serif;

@mixin work() {
  border: 1px solid black;
  position: relative;
  padding: 0px;
  margin: 4% 2% 1% 2%;
  width: 46%;
  img {
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: .6s ease;
    opacity: 0;
    font-size: 2.5em;
    font-family: $fontBody;
    font-weight: 400;
    p:first-child {
      color: #fff;
      font-size: 2em;
      font-weight: 700;
      padding-top: 13%;
    }
    a {
      color: #fff;
    }
  }
  &:hover .overlay {
    opacity: 1;
  }
}

body {
  background: #fff;
  color: #111;
  font-family: $font;
  font-size: 62.5%;
  .title-area {
    padding: 0px;
    overflow: auto;
    background-image: url('../images/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    .header-container {
      overflow: auto;
      border: 1px solid red;
      width: 100%;
      text-align: center;
      .header-left {
        float: left;
        width: 49%;
        padding: 1% 0% 0% 1%;
        font-size: 1.4em;
        border: 1px solid red;
        li {
          float: left;
          width: 9%;
          list-style-type: none;
          border: 1px solid red;
          color: white;
          cursor: pointer;
          img {
            width: 60%;
          }
        }
      }
      .header-right {
        float: right;
        width: 49%;
        padding: 1% 1% 0% 0%;
        font-size: 4em;
        font-weight: 700;
        border: 1px solid red;
        a {
          color: black;
        }
        li {
          float: right;
          width: 20%;
          list-style-type: none;
          border: 1px solid red;
          cursor: pointer;
          &:hover {
            color: #5F9CA6;
            text-decoration: underline;
          }
        }
      }
    }
    .name-container {
      text-align: center;
      border: 1px solid red;
      h1 {
        padding-top: 9%;
        margin-bottom: 3%;
        line-height: 1;
        font-size: 14em;
        font-weight: 900;
      }
      p {
        margin: 0px;
        font-size: 8em;
        font-weight: 700;
        padding-bottom: 14%;
      }
    }
  }
  .about-container {
    clear: both;
    overflow: auto;
    background-color: #F3F3F4;
    text-align: center;
    border: 1px solid blue;
    h2 {
      font-size: 6em;
      font-weight: 700;
      margin: 20px 0px 20px 0px;
    }
    h5 {
      font-size: 4.5em;
      font-weight: 700;
      padding-top: 1%;
    }
    .who {
      border: 1px solid red;
      p {
        width: 90%;
        margin: 0 auto;
        font-family: $fontBody;
        font-size: 3.5em;
      }
    }
    .skills {
      border: 1px solid red;
      .skills-content {
        border: 1px solid red;
        img {
          width: 60%;
        }
        p {
          margin-top: 15px;
          font-family: $fontBody;
          font-size: 2.8em;
        }
      }
    }
    .me {
      border: 1px solid red;
      .more-content {
        border: 1px solid red;
        img {
          width: 18%;
        }
        p {
          margin-top: 19px;
          font-family: $fontBody;
          font-size: 2.8em;
        }
      }
    }
  }
  .work-container {
    clear: both;
    overflow: auto;
    padding: 0% 5% 5% 5%;
    background-color: #F3F3F4;
    text-align: center;
    border: 1px solid red;
    font-weight: 700;
    h2 {
      font-size: 6em;
      font-weight: 700;
    }
    .myPlanit-app {
      @include work;
    }
    .blog-app {
      @include work;
    }
    .fns-app {
      @include work;
    }
    .game-app {
      @include work;
    }
    .todo-app {
      @include work;
    }
    .snp-app {
      @include work;
    }
  }
  .contact-container {
    clear: both;
    overflow: auto;
    background-color: #9E9E9E;
    text-align: center;
    border: 1px solid red;
    font-weight: 700;
    h2 {
      font-size: 6em;
      font-weight: 700;
    }
    .contact {
      overflow: auto;
      .tablet {
        border: 1px solid red;
        .tablet-container {
          border: 2px solid blue;
          padding: 20px 0% 20px 0%;
          width: 100%;
          img {
            width: 35%;
            padding-top: 20%;
          }
          .tablet-content {
            padding-top: 20px;
            border: 1px solid red;
            p {
              font-size: 2em;
              font-weight: 400;
            }
            a {
              color: black;
            }
            img {
              border: 1px solid red;
              width: 11%;
              padding: 1%;
            }
          }
        }
      }
      .desktop {
        border: 1px solid red;
        .desktop-container {
          border: 2px solid blue;
          padding: 20px 0% 20px 0%;
          width: 100%;
          img {
            width: 82%;
            padding-top: 2%;
          }
          .desktop-content {
            padding-top: 20px;
            border: 1px solid red;
            p {
              font-size: 2em;
              font-weight: 400;
            }
            ul {
              width: 100%;
              padding: 0px;
              margin: 0px;
              text-align: center;
            }
            li {
              display: inline-block;
              width: 10%;
              list-style-type: none;
              border: 1px solid red;
              margin: 0px 3% 0px 3%;
              img {
                width: 100%;
              }
              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
      .smartphone {
        border: 1px solid red;
        .smartphone-container {
          border: 2px solid blue;
          padding: 20px 0% 20px 0%;
          width: 100%;
          img {
            width: 18%;
            padding-top: 32%;
          }
          .smartphone-content {
            padding-top: 20px;
            border: 1px solid red;
            p {
              font-size: 2em;
              font-weight: 400;
            }
            a {
              color: black;
            }
            img {
              width: 12%;
              padding: 0%;
            }
          }
        }
      }
    }
  }
  .footer-container {
    clear: both;
    background-color: #9E9E9E;
    border: 1px solid red;
    width: 100%;
    text-align: center;
    img {
      width: 4%;
      padding: 30px 0px 30px 0px;
    }
  }
}
