$font: 'Arvo', sans-serif;
$fontBody: 'Lato', serif;

@mixin work() {
  padding-top: 30px;
  padding-bottom: 30px;
  .overlay-container {
    position: relative;
    img {
      width: 100%;
      padding: 4%;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #222222;
      transition: .6s ease;
      opacity: 0;
      .slider {
        padding: 0px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .carousel-control {
          background-image: none;
        }
        .carousel-indicators {
          margin-bottom: 0px;
        }
        .carousel-content {
          h5 {
            font-family: $fontBody;
            font-size: 4em;
            font-weight: 700;
            color: #fff;
          }
          p {
            font-family: $fontBody;
            font-size: 2.2em;
            font-weight: 400;
            color: #fff;
            i {
              font-size: 4em;
            }
          }
          ul {
            padding: 0px;
            li {
              list-style-type: none;
              font-family: $fontBody;
              font-size: 2.2em;
              font-weight: 400;
              color: #fff;
            }
          }
          a {
            font-family: $fontBody;
            font-size: 2.2em;
            font-weight: 400;
            button {
              width: 20%;
            }
          }
        }
      }
    }
    &:hover .overlay {
      opacity: 1;
      border: 1px solid white;
    }
  }
}
body {
  position: relative;
  background: #000;
  color: #808080;
  font-family: $font;
  font-size: 62.5%;
  .navbar {
    background-color: black;
    font-size: 3em;
    .container {
      width: 100%;
      .navbar-brand {
        float: left;
      }
    }
  }
  .title-area {
    padding: 0px;
    overflow: hidden;
    height: 100vh;
    background-image: url('../images/main2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    .name-container {
      width: 80%;
      margin: 0 auto;
      padding: 15% 0% 15% 0%;
      text-align: center;
      border: 2px solid green;
      h1 {
        margin: 0%;
        border: 1px solid red;
        line-height: 1;
        font-size: 14em;
        font-weight: 900;
        color: #337ab7;
      }
      p {
        border: 1px solid red;
        margin: 0%;
        font-size: 8em;
        font-weight: 700;
      }
      ul {
        padding: 0%;
        width: 80%;
        margin: 0% auto;
        text-align: center;
        .element {
          position: relative;
          overflow: hidden;
          list-style-type: none;
          display: inline-block;
          margin: 0% 1% 0% 1%;
          padding: 2% 0% 2% 0%;
          width: 22%;
          height: 30px;
          vertical-align: center;
          border: 2px solid darkgray;
          .wrap {
            position: absolute;
            top: 0;
            width: 100%;
            .init {
              height: 30px;
              width: 100%;
              font-size: 2.8em;
              background: lightgrey;
            }
            .short {
              height: 40px;
              width: 100%;
              font-size: 3.3em;
              background: black;
              // a {
              //   color: white;
              // }
            }
          }
        }
      }
    }
  }
  .me-container {
    clear: both;
    overflow: auto;
    background-color: #F5F5F5;
    text-align: center;
    line-height: 1.5;
    h2 {
      margin: 150px auto 40px auto;
      font-size: 7em;
      font-weight: 700;
    }
    .me {
      margin-bottom: 150px;
      p {
        width: 60%;
        margin: 0 auto;
        font-family: $fontBody;
        font-size: 3.2em;
      }
    }
  }
  .tech-container {
    clear: both;
    overflow: auto;
    background-color: #FFF;
    text-align: center;
    h2 {
      margin: 100px auto 60px auto;
      font-size: 7em;
      font-weight: 700;
    }
    .tech-content {
      position: relative;
      margin-bottom: 150px;
      img {
        width: 40%;
        margin-bottom: 50px;
      }
      .pic-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .6s ease;
        opacity: 0;
      }
      p {
        width: 75%;
        margin: 0px auto;
        font-family: $fontBody;
        font-size: 3.2em;
      }
    }
    &:hover .pic-overlay {
      opacity: 1;
    }
  }
  .work-container {
    clear: both;
    overflow: auto;
    background-color: #363636;
    text-align: center;
    border: 1px solid red;
    h2 {
      font-size: 7em;
      font-weight: 700;
      margin: 100px auto 100px auto;
      padding: 20px 0px;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }
    .work-content {
      overflow: auto;
      margin-bottom: 100px;
      .myPlanit-app,
      .blog-app,
      .fns-app,
      .game-app,
      .todo-app,
      .snp-app {
        @include work;
      }
    }
  }
  .contact-container {
    clear: both;
    overflow: auto;
    background-color: #F5F5F5;
    text-align: center;
    border: 1px solid red;
    font-weight: 700;
    background-image: url('../images/MeBWtrans.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: bottom;
    h2 {
      font-size: 7em;
      font-weight: 700;
      margin: 100px auto 50px auto;
    }
    p {
      width: 60%;
      margin: 0 auto;
      font-family: $fontBody;
      font-size: 3.2em;
    }
    .icons {
      font-size: 5em;
    }



    .contact {
      overflow: auto;
      .tablet {
        border: 1px solid red;
        .tablet-container {
          border: 2px solid blue;
          img {
            width: 35%;
          }
          .tablet-content {
            padding-top: 20px;
            border: 1px solid red;
            p {
              font-size: 2em;
              font-weight: 400;
            }
            a {
              color: black;
            }
            img {
              border: 1px solid red;
              width: 11%;
              padding: 1%;
            }
          }
        }
      }
      .smartphone {
        border: 1px solid red;
        .smartphone-container {
          border: 2px solid blue;
          img {
            width: 18%;
          }
          .smartphone-content {
            padding-top: 20px;
            border: 1px solid red;
            p {
              font-size: 2em;
              font-weight: 400;
            }
            a {
              color: black;
            }
            img {
              width: 12%;
              padding: 0%;
            }
          }
        }
      }
    }
  }
  .footer-container {
    clear: both;
    background-color: #000;
    border: 1px solid red;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    ul {
      width: 100%;
      padding: 0px;
      margin: 0px;
      text-align: center;
      .arrow-top a {
        color: red;
      }
      li {
        display: inline-block;
        width: 5%;
        font-size: 4em;
        list-style-type: none;
        border: 1px solid red;
        margin: 0px 7% 0px 7%;
      }
    }
  }
}
