
// Custom Styles
body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  font-size: 62.5%;
}
.main-img {
  overflow: auto;
  background-image: url('../images/main.png');
  background-repeat: no-repeat;
  background-size: 100%;
  .header-container {
    overflow: auto;
    border: 1px solid red;
    width: 100%;
    text-align: center;
    .header-left {
      float: left;
      width: 49%;
      padding: 0% 0% 0% 1%;
      font-size: 2em;
      border: 1px solid red;
      li {
        float: left;
        width: 10%;
        list-style-type: none;
        border: 1px solid red;
        color: white;
        cursor: pointer;
        img {
          width: 40%;
        }
      }
    }
    .header-right {
      float: right;
      width: 48%;
      padding: 0% 1% 0% 0%;
      font-size: 2em;
      font-weight: 600;
      border: 1px solid red;
      a {
        color: black;
      }
      li {
        float: right;
        width: 20%;
        list-style-type: none;
        border: 1px solid red;
        margin: 0% 1% 0% 1%;
        cursor: pointer;
        &:hover {
          color: #5F9CA6;
          text-decoration: underline;
        }
      }
    }
  }
  .name-container {
    text-align: center;
    font-size: 4em;
    border: 1px solid red;
    margin: 80px 0px 140px 0px;
    .name-text {
      padding: 30px 0px 30px 0px;
      border: 1px solid green;
      h1 {
        margin: 20px 0px 20px 0px;
        line-height: 1;
        letter-spacing: -1px;
      }
      p {
        margin: 0px;
        font-size: 1em;
      }
    }
  }
}
.about-container {
  clear: both;
  overflow: auto;
  width: 100%;
  text-align: center;
  border: 1px solid blue;
  h2 {
    font-size: 3.2em;
  }
  .about {
    background-image: url('../images/me.png');
    background-repeat: no-repeat;
    background-size: 23%;
    background-position: top;
    .my-story {
      border: 1px solid red;
      text-align: left;
      font-size: 1.8em;
      font-weight: 200;
      line-height: 30px;
    }
    .about-me {
      border: 1px solid red;
      font-size: 1.8em;
      font-weight: 200;
      line-height: 30px;
      ul {
        padding: 0px;
        li {
          list-style-type: none;
          text-align: left;
        }
      }
    }
    .motivation {
      border: 1px solid red;
      font-size: 1.8em;
      font-weight: 200;
      line-height: 30px;
      ul {
        padding: 0px;
        li {
          list-style-type: none;
          text-align: left;
        }
      }
    }
  }
}
.skills-container {
  border: 1px solid red;
  font-size: 1.8em;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  .skills {
    background-color: #EBEBEB;
    img {
      margin: 30px 0px 30px 0px;
      width: 60%;
    }
  }
}
.work-container {
  clear: both;
  overflow: auto;
  text-align: center;
  border: 1px solid red;
  font-size: 1.8em;
  font-weight: 200;
  line-height: 30px;
  .myPlanit-app {
    position: relative;
    float: left;
    width: 50%;
    min-height: 180px;
    background-color: black;
    .bg-myPlanit {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/myPlanitapp.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top;
      opacity: 0.1;
      &:hover {
        opacity: 0.2;
      }
    }
    p {
      padding-top: 40px;
      font-size: 2em;
      color: white;
    }
  }
  .blog-app {
    position: relative;
    float: right;
    width: 50%;
    min-height: 180px;
    background-color: black;
    .bg-blog {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/travelblog.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top;
      opacity: 0.1;
      &:hover {
        opacity: 0.2;
      }
    }
    p {
      padding-top: 40px;
      font-size: 2em;
      color: white;
    }
  }
  .fns-app {
    position: relative;
    float: left;
    width: 50%;
    min-height: 180px;
    background-color: black;
    .bg-fns {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/fns.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top;
      opacity: 0.1;
      &:hover {
        opacity: 0.2;
      }
    }
    p {
      padding-top: 40px;
      font-size: 2em;
      color: white;
    }
  }
  .game-app {
    position: relative;
    float: right;
    width: 50%;
    min-height: 180px;
    background-color: black;
    .bg-game {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/thearena.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top;
      opacity: 0.1;
      &:hover {
        opacity: 0.2;
      }
    }
    p {
      padding-top: 40px;
      font-size: 2em;
      color: white;
    }
  }
  .todo-app {
    position: relative;
    float: left;
    width: 50%;
    min-height: 180px;
    background-color: black;
    .bg-todo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/todo.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top;
      opacity: 0.1;
      &:hover {
        opacity: 0.2;
      }
    }
    p {
      padding-top: 40px;
      font-size: 2em;
      color: white;
    }
  }
  .snp-app {
    position: relative;
    float: right;
    width: 50%;
    min-height: 180px;
    background-color: black;
    .bg-snp {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/snp.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top;
      opacity: 0.1;
      &:hover {
        opacity: 0.2;
      }
    }
    p {
      padding-top: 40px;
      font-size: 2em;
      color: white;
    }
  }
}
.contact-container {
  clear: both;
  width: 100%;
  text-align: center;
  border: 1px solid red;
  font-size: 1.8em;
  font-weight: 200;
  line-height: 30px;
  .contact {
    background-color: #CFCFCF;
    padding: 30px 0px 30px 0px;
    .tablet {
      border: 1px solid red;
      width: 16%;
      min-height: 300px;
      display: inline-block;
      vertical-align: bottom;
      background-image: url('../images/tablet.png');
      background-repeat: no-repeat;
      background-size: 100%;
      .tablet-content {
        border: 1px solid red;
        width: 80%;
        margin: 40px auto;
        a {
          color: black;
        }
        button {
          margin-bottom: 20px;
          &:hover {
            background-color: #5F9CA6;
            border: 1px solid gray;
          }
        }
      }
    }
  }
  .desktop {
    border: 1px solid red;
    width: 45%;
    min-height: 500px;
    display: inline-block;
    vertical-align: bottom;
    background-image: url('../images/desktop.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0% 5% 0% 5%;
    .desktop-content {
      border: 1px solid red;
      width: 90%;
      margin: 0 auto;
      ul {
        width: 100%;
        padding: 0px;
        text-align: left;
      }
      li {
        width: 80%;
        list-style-type: none;
        border: 1px solid red;
        margin: 10px 0px 0px 15px;
        img {
          width: 10%;
          vertical-align: middle;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .smartphone {
    border: 1px solid red;
    width: 16%;
    min-height: 230px;
    display: inline-block;
    vertical-align: bottom;
    background-image: url('../images/smartphone.png');
    background-repeat: no-repeat;
    background-size: 50%;
    .smartphone-content {
      border: 1px solid red;
      width: 40%;
      margin: 15px 0px 0px 5%;
      a {
        color: black;
      }
      button {
        margin-bottom: 20px;
        &:hover {
          background-color: #5F9CA6;
          border: 1px solid gray;
        }
      }
    }
  }
}
.footer-container {
  background-color: #828282;
  border: 1px solid red;
  width: 100%;
  text-align: center;
  img {
    width: 4%;
    padding: 30px 0px 30px 0px;
  }
}
