
// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
}

.header-container {
  border: 1px solid red;
  width: 100%;
  text-align: center;
  ul {
    padding: 0px;
    margin: 0 auto;
    font-size: 2em;
    border: 1px solid red;
    background-color: gray;
    li {
      list-style-type: none;
      display: inline-block;
      border: 1px solid red;
    }
  }
  .name {
    font-size: 3.5em;
    border: 1px solid red;
    img {
      float: left;
      width: 160px;
    }
    h1 {
      margin: 20px 0px 10px 0px;
      line-height: 1;
      letter-spacing: -1px;
      text-align: left;
      span {
        display: block;
      }
    }
    p {
      text-align: left;
      margin: 0px;
    }
  }
}

.main-container {
  clear: both;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
  text-align: center;
  .about {
    border: 1px solid red;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 30px;
    background-color: pink;
  }
  .skills {
    overflow: auto;
    border: 1px solid red;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 30px;
    background-color: red;
    ul {
      padding: 0px;
    }
    li {
      list-style-type: none;
      float: left;
      width: 20%;
      height: 150px;
      &:nth-child(2n) {
        background-color: white;
      }
    }
  }
  .work {
    clear: both;
    border: 1px solid red;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 30px;
    background-color: lightgreen;
    ul {
      padding: 0px;
    }
    li {
      list-style-type: none;
      width: 100%;
      height: 150px;
      &:nth-child(2n) {
        background-color: darkgreen;
      }
    }
  }
  .experiences {
    border: 1px solid red;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 30px;
    background-color: blue;
  }
  .contact {
    border: 1px solid red;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 30px;
    background-color: yellow;
    ul {
      padding: 0px;
    }
    li {
      list-style-type: none;
    }
  }
}

.footer-container {
  border: 1px solid red;
  width: 100%;
  text-align: center;
  ul {
    padding: 0px;
    margin: 0 auto;
    border: 1px solid red;
    background-color: gray;
    li {
      list-style-type: none;
      display: inline-block;
      border: 1px solid red;
    }
  }
}
